/* Styles for Logo */

.Logo {
  text-decoration: none;
  color: inherit;
  text-transform: uppercase;
  font-family: "Helvetica Neue", sans-serif;
  font-size: 50px;
  font-weight: 400;
  line-height: 64.29px;
  letter-spacing: 1.37px;

  span.bold {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 900;
  }

  span.thin {
    font-family: "Helvetica Neue", sans-serif;
    font-weight: 100;
  }
}