@font-face {
    font-family: 'Helvetica Neue';
    src: url('Helvetica/HelveticaNeueBlackCondensed.eot');
    src: local('Helvetica Neue Condensed Black'), local('HelveticaNeueBlackCondensed'),
    url('Helvetica/HelveticaNeueBlackCondensed.eot?#iefix') format('embedded-opentype'),
    url('Helvetica/HelveticaNeueBlackCondensed.woff2') format('woff2'),
    url('Helvetica/HelveticaNeueBlackCondensed.woff') format('woff'),
    url('Helvetica/HelveticaNeueBlackCondensed.ttf') format('truetype');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Helvetica Neue';
    src: url('Helvetica/HelveticaNeueCyr-Thin.eot');
    src: local('HelveticaNeueCyr-Thin'),
    url('Helvetica/HelveticaNeueCyr-Thin.eot?#iefix') format('embedded-opentype'),
    url('Helvetica/HelveticaNeueCyr-Thin.woff2') format('woff2'),
    url('Helvetica/HelveticaNeueCyr-Thin.woff') format('woff'),
    url('Helvetica/HelveticaNeueCyr-Thin.ttf') format('truetype');
    font-weight: 100;
    font-style: normal;
}

