.ErrorBanner {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(255, 210, 0, 0.96);
  padding: 40px;
  border-radius: 6px;

  img {
    max-height:100px;
    object-fit: contain;
  }

  h2 {
    color: #131313;
  }
}