/* Styles for LoadingIndicator */

.LoadingIndicator {
  text-align: center;

  .LoadingIcon {
    .LoadingBall {
      height: 15px;
      width: 15px;
      display: inline-block;
      margin: 0 4px;
      background-color: #0aaee4;
      border-radius: 50%;
      animation: LogoBallAnimate .5s infinite linear alternate;
      animation-delay: .5s;

      &:nth-child(2) {
        animation: LogoBallAnimate .5s infinite linear alternate;
        animation-delay: 0s;
      }
    }

    margin-bottom: 21px;
  }

  .LoadingText {
    opacity: 0.35;
    font-family: "Helvetica Neue", sans-serif;
    font-size: 22px;
    font-weight: 500;
    line-height: 33px;
    text-transform: uppercase;
    letter-spacing: 0.88px;
  }
}

@keyframes LogoBallAnimate {
  0% {
    transform: scale(1);
  }

  100% {
    transform: scale(1.4);
  }
}